*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:skyblue
}

table{
border-collapse: separate;
border-spacing: 2px;
background-color: rgb(152, 146, 146);
}

table thead tr th{
    background-color: black;
    color: white;
    padding: 8px;
    min-width: 300px;
    text-align: left;
}

table tbody tr td{
    padding: 8px;
    text-align: left;
    color: white;
}

table tbody tr:nth-child(odd) td{
    background-color: gray;
}

table tbody tr:nth-child(even) td{
    background-color: rgb(21, 21, 21);
    color: white;
}

table tbody tr:hover td{
    font-weight: 600;
}

.btn-select{
    background-color: skyblue;
    color: white;
    padding: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

}

table tfoot tr td{
    padding: 8px;
    text-align: center;
    color: white;
    background-color: gray;
}


