*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

table{
    border-collapse: collapse;
}

table thead tr th{
    background-color: rgb(72, 125, 72);
    color: white;
    padding: 8px;
    min-width: 150px;
    text-align: left;

}

table thead tr th:first-child{
    border-radius: 8px 0 0 0;
}

table thead tr th:last-child{
    border-radius: 0 8px 0 0 ;
}

table tbody tr td{
    padding: 8px;
    text-align: left;
}

table tbody tr:nth-child(odd) td{
    background-color: beige;
}

table tbody tr:nth-child(even) td{
    background-color: rgb(228, 213, 213);
    color: green;
}

table{
    border-bottom: solid green;
}